/******************************************************************
	
Stylesheet: Main Stylesheet

Here's where the magic happens. Here is where you import
all of your Sass files so they can compile into one
CSS file. 

******************************************************************/

// Import normalize from vendor files
@import "../../vendor/foundation-sites/scss/vendor/normalize";

// Import mixins
@import "mixins";

// Import local Foundation overrides - Don't link to Bower version as it will be overwritten whenever updated
@import "settings";

// Import foundation.scss from vendor files
@import "../../vendor/foundation-sites/scss/foundation";

// Import Motion-UI from vendor files
@import "../../vendor/motion-ui/src/motion-ui";
@include motion-ui-transitions;
@include motion-ui-animations;

// Select the components you want to use
@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;

// Import your custom styles
@import "main";

// Import your retina/HD sty;es
@import "2x";

// Import your print styles
@import "print";

body {
    background-image: url('../images/dots.png');
}

.header-container {
    background-color: $white;
}

.header {
	// background-color: $secondary-color;
	
	@include breakpoint(medium) {
    	border-bottom-left-radius: $global-radius;
		border-bottom-right-radius: $global-radius;
  	}
	
	
	.hlogo {
			padding: $menu-item-padding;
            font-style: italic;
			
			@each $size, $headers in $header-sizes {
    			@include breakpoint($size) {
     				
        				font-size: rem-calc(map-get($headers, 'h1')); 
      				
    			}
  			}	
	}
	
	.hmenu {
		font-style: italic;
		
		@include breakpoint(medium) {
    		padding-bottom: 1em;
  		}
	}
}

img {
	border-radius: $global-radius;
}

.article-header {
    position: relative;
    height: 400px;
    background-color: $dark-gray;
    
    .article-header-background {
        position: relative;
        height: 100%;
        top: 0px;
        bottom: 0px;
        background-size: cover;
        
    }
    
    .article-header-text {
        position: absolute;
        bottom: 0px;
        // padding: 1rem;
        
        h2, h1 {
            margin-bottom: 0px;
            color: $white;
                font-style: italic;
                
            
            a {
                color: $white;
                font-size: 150%;
            }
        }
    }
}

article {
    background-color: $white;
    
    .entry-content {
        padding: 1rem;
    }
}